
<div class="wrap">
    <h1>
        Like More
    </h1>

    <div class="nav_top">
        <div class="nav">
            <ul>

              <li><a href="javascript:void(0)"
                       onclick="document.getElementById('user').style.display = 'block';document.getElementById('products').style.display = 'none';">Users</a>
                </li>
                <li><a href="javascript:void(0)"
                       onclick="document.getElementById('user').style.display = 'none';document.getElementById('products').style.display = 'block';">Products</a>
                </li>
              <li  style="float:right"><a href="/profile">Profile</a></li>
              <li style="float:right"><a href="/logoff">Logoff</a></li>
            </ul>
        </div>
    </div>
</div>