<!DOCTYPE html>
<html lang="en">
<div class="wrap">
    <h1>
        Like More
    </h1>

    <div class="nav_top">
        <div class="nav">
            <ul>
                <li><a href="/home">Homepage</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="/communities">Communities</a></li>
                <li style="float:right" class="profile"><a href="/profile">Profile</a></li>
                <li style="float:right" class="logoff"><a href="/logoff">Logoff</a></li>
                <li style="float:right" class="login"><a href="/login">Login</a></li>
                <li style="float:right" class="cart"><a href="/cart">Cart</a></li>
            </ul>
        </div>
    </div>
</div>
</html>
