<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title>Success | GitHub Passport Example</title>
    <meta
      name="description"
      content="an example app implementing twitter oauth with passport"
    />
    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/favicon-app.ico"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <header>
      <h1>GitHub Passport Example</h1>
      <h2>
        an example app showing how to use passport and the Github api for
        authentication
      </h2>
    </header>

    <main>
      <p>
        You did it, you logged in ☺️
      </p>
      <p>
        <a href="/logoff">Now log off! </a>
      </p>
    </main>

    <script
      src="https://button.glitch.me/button.js"
      data-style="glitch"
    ></script>
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
  </body>
</html>

