/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}



.bold {
  font-weight: bold;
}

button {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
}

button:hover {
  background-color: yellow;
}

button:active {
  box-shadow: none;
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

.thumb {
    width: 95%; 
    position: relative;
    padding-top: 65%;
  
}


.thumb > img {
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s;
}

.thumb input[name='trans'] {
    display: none;
}

.thumb label img {
    display: block;
}

.thumb label {
    margin: 12px 12px;
    float: left;
    transition: all 0.3s;
   cursor: pointer;
  opacity: 0.5;
}

.thumb input[name='trans']:checked + label + img {
  
    opacity: 1;
    transform: scale(1);
}

.thumb input[name='trans'] ~ img {
    opacity: 0;
    transform: scale(1);
}

body {
  margin: 40px;
}
@media all and (max-width: 1024px) {
    .wrapper {
      padding-left:5%;
        display: grid;
         grid-gap: 0.1%;
        grid-template-columns: repeat(4, [col] 22% ) ;
        grid-template-rows: repeat(10, [row] auto);

    }
  #buybutton1{
    display:inline;
  }
   #buybutton2{
    display:none;
  }
    .box {
        
        border-radius: 5px;
        padding: 2%;
        

    }

     .b {
        grid-column: col 3 / span 2;
        grid-row: row;
      font-size: 150%;
    }

    .c {
        grid-column: col / span 2;
        grid-row: row 1 / span 2;
    }

    .e {
        grid-column: col 3/ span 2;
        grid-row: row 2 ;
    }

    .f {
        grid-column: col 1/ span 3;
        grid-row: 3;
      font-size: 120%;
    }

.v {
        grid-column: col 1 / span 4;
        grid-row: 4;
    }
 .h {
        grid-column:col 1/ span 4;
        grid-row: 5;
    background-image:url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgIBwgNBwcHBwcHBw0HBwcHBw8ICQcNFREWFhURFRMYKCggGBolGxMTITEhJSkrLi4uFx8zODMsNygtLisBCgoKBQUFDgUFDisZExkrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrK//AABEIALEBHAMBIgACEQEDEQH/xAAWAAEBAQAAAAAAAAAAAAAAAAAAAQf/xAAUEAEAAAAAAAAAAAAAAAAAAAAA/8QAFgEBAQEAAAAAAAAAAAAAAAAAAAQC/8QAFBEBAAAAAAAAAAAAAAAAAAAAAP/aAAwDAQACEQMRAD8A2oBtKAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgKAAAAAAAAAAAAAAAACAoAAAAAAAAAAAIoAAAIqAoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACKgKAAAAAAAAAAAAAAAAAAAAAACAoAAAAAAAAACKAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACKAAAioCgAAAAAAAAAAAAAAAIoAAAAACAoAAAAAAAAACKAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACKAAAioCgAAAAAAAAAAAAAAAIoAAAAAigAAAAAAAAAAAICgAAAAAAAAAAAAAAAAgKAAAAAAAAAAACKAAACKgKAAAAAAAAAAAAAAAAAAAAAAigAAAAAAAAAAAICgAAAAAAAIoAAAAAAACAoAAAAAAAAAAAIoAAAIqAoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIKAAAIAP/Z);
    }
.i {
        grid-column:col 1 / span 4;
        grid-row: 6;
 
    }
  
  
  .k {
        grid-column:col 1/ span 4;
        grid-row: 8;
    }
.l {
        grid-column:col 1 / span 4;
        grid-row: 7;
      background-image:url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgIBwgNBwcHBwcHBw0HBwcHBw8ICQcNFREWFhURFRMYKCggGBolGxMTITEhJSkrLi4uFx8zODMsNygtLisBCgoKBQUFDgUFDisZExkrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrK//AABEIALEBHAMBIgACEQEDEQH/xAAWAAEBAQAAAAAAAAAAAAAAAAAAAQf/xAAUEAEAAAAAAAAAAAAAAAAAAAAA/8QAFgEBAQEAAAAAAAAAAAAAAAAAAAQC/8QAFBEBAAAAAAAAAAAAAAAAAAAAAP/aAAwDAQACEQMRAD8A2oBtKAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgKAAAAAAAAAAAAAAAACAoAAAAAAAAAAAIoAAAIqAoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACKgKAAAAAAAAAAAAAAAAAAAAAACAoAAAAAAAAACKAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACKAAAioCgAAAAAAAAAAAAAAAIoAAAAACAoAAAAAAAAACKAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACKAAAioCgAAAAAAAAAAAAAAAIoAAAAAigAAAAAAAAAAAICgAAAAAAAAAAAAAAAAgKAAAAAAAAAAACKAAACKgKAAAAAAAAAAAAAAAAAAAAAAigAAAAAAAAAAAICgAAAAAAAIoAAAAAAACAoAAAAAAAAAAAIoAAAIqAoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIKAAAIAP/Z);

 
    }

.j {
        grid-column:col  / span 4;
        grid-row: 9;
    }
  
  .x {
        grid-column:col 1 / span 4;
        grid-row: 10;
    }
}



@media all and (min-width: 1024px) {
    .wrapper {
      padding-left:5%;
        display: grid;
        
        grid-template-columns: repeat(4, [col] 24% ) ;
        grid-template-rows: repeat(7, [row] auto );

    }
  #buybutton1{
    display:none;
  }
#buybutton2{
    display:inline;
  }
    .box {
        
        border-radius: 5px;
        padding: 2%;
    }
    .b {
  
        grid-column: col 3 / span 2;
        grid-row: row;
      font-size: 150%;
    }

    .c {
        grid-column: col / span 2;
        grid-row: row 1 / span 2;
    }


    .f {
        grid-column: col 3 / span 2;
        grid-row: 2;
      font-size: 120%;
    }


.v {
        grid-column: col 2 / span 2;
        grid-row: 3;
    }
 .h {
        grid-column:col / span 2;
        grid-row: 4;
    background-image:url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgIBwgNBwcHBwcHBw0HBwcHBw8ICQcNFREWFhURFRMYKCggGBolGxMTITEhJSkrLi4uFx8zODMsNygtLisBCgoKBQUFDgUFDisZExkrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrK//AABEIALEBHAMBIgACEQEDEQH/xAAWAAEBAQAAAAAAAAAAAAAAAAAAAQf/xAAUEAEAAAAAAAAAAAAAAAAAAAAA/8QAFgEBAQEAAAAAAAAAAAAAAAAAAAQC/8QAFBEBAAAAAAAAAAAAAAAAAAAAAP/aAAwDAQACEQMRAD8A2oBtKAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgKAAAAAAAAAAAAAAAACAoAAAAAAAAAAAIoAAAIqAoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACKgKAAAAAAAAAAAAAAAAAAAAAACAoAAAAAAAAACKAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACKAAAioCgAAAAAAAAAAAAAAAIoAAAAACAoAAAAAAAAACKAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACKAAAioCgAAAAAAAAAAAAAAAIoAAAAAigAAAAAAAAAAAICgAAAAAAAAAAAAAAAAgKAAAAAAAAAAACKAAACKgKAAAAAAAAAAAAAAAAAAAAAAigAAAAAAAAAAAICgAAAAAAAIoAAAAAAACAoAAAAAAAAAAAIoAAAIqAoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIKAAAIAP/Z);
    }
.i {
        grid-column:col 3 / span 2;
        grid-row: 4;
 
    }
 .k {
        grid-column:col 1/ span 2;
        grid-row: 5;
    }
.l {
        grid-column:col 3 / span 2;
        grid-row: 5;
     background-image:url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgIBwgNBwcHBwcHBw0HBwcHBw8ICQcNFREWFhURFRMYKCggGBolGxMTITEhJSkrLi4uFx8zODMsNygtLisBCgoKBQUFDgUFDisZExkrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrK//AABEIALEBHAMBIgACEQEDEQH/xAAWAAEBAQAAAAAAAAAAAAAAAAAAAQf/xAAUEAEAAAAAAAAAAAAAAAAAAAAA/8QAFgEBAQEAAAAAAAAAAAAAAAAAAAQC/8QAFBEBAAAAAAAAAAAAAAAAAAAAAP/aAAwDAQACEQMRAD8A2oBtKAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgKAAAAAAAAAAAAAAAACAoAAAAAAAAAAAIoAAAIqAoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACKgKAAAAAAAAAAAAAAAAAAAAAACAoAAAAAAAAACKAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACKAAAioCgAAAAAAAAAAAAAAAIoAAAAACAoAAAAAAAAACKAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACKAAAioCgAAAAAAAAAAAAAAAIoAAAAAigAAAAAAAAAAAICgAAAAAAAAAAAAAAAAgKAAAAAAAAAAACKAAACKgKAAAAAAAAAAAAAAAAAAAAAAigAAAAAAAAAAAICgAAAAAAAIoAAAAAAACAoAAAAAAAAAAAIoAAAIqAoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIKAAAIAP/Z);

    }

.j {
        grid-column:col  / span 4;
        grid-row: 6;
    }
  
.x {
        grid-column:col 2 / span 2;
        grid-row: 7;
       text-align:center;
    }
}




.myButton {
	box-shadow: 1px 7px 0px 0px #8a2a21;
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color:#c62d1f;
	border-radius:15px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:10px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.myButton:hover {
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color:#f24437;
}
.myButton:active {
	position:relative;
	top:1px;
}

#inside{
  font-size:12px;
}

.full-description{
  padding-left: 10%;
  font-family:Georgia;
  font-size:120%;
 height: 100px;
width: 80%;
  height: 100%;
text-align:justify;

}

.youtube-video{
  width: 100%;
 height: 350px;
}



.review {
  
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: auto;
  position: relative;
}


.review::after {
  z-index: 9;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  border-left: 1px solid black;
}

.card {
  width: 46%;
}


.card__header {
  display: flex;
  align-items: left;
  width: 100%;
  height: 35%;
  background-color: #f0f8ff;
  overflow: hidden;
}


.header__title {
  display: flex;
  margin-left: 10px;
  flex-direction: column;
}


.card__article {
  width: 100%;
  height:auto;
  border: 1px solid #f0f8ff;
}


.card:nth-child(odd) {
  align-self: flex-start;
}
.card:nth-child(even) {
  align-self: flex-end;
}

.review-avatar img{
  width:80px;
  height:100%;
}


.review-username{
  font-size: 16px;
  color:red;
}

.title__date{
  font-size: 12px;
}




/* begin of the user page */


@media all and (min-width: 1024px) {
.user-wrapper {
      
        display: grid;
        grid-template-columns: repeat(5, [col] 19% ) ;
        grid-template-rows: repeat(4, [row] auto  );

    }

.usera {
        grid-column: col 3 / span 1;
        grid-row: 1;
 
  text-align: center;
  line-height:100%;
    }

    .userb {
        grid-column: col 2 / span 3;
        grid-row: 2;
      
  text-align: center;
    
    }

    .userc {
        grid-column: col 1 / span 5;
        grid-row: 3;
  text-align: center;
    }


.userd{
        grid-column: col 2 / span 3;
        grid-row: 4;
  
 
	padding: 25px 15px 25px 10px;
    }
/*  .usere {
        grid-column:col 2 / span 3;
        grid-row: 5
    }
 */

.userc {
  background-color: white;
  overflow: hidden;
  border-style:solid none none none;
  border-color:grey;
}



.userc a {
  float: center;
  color: black;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  font-size: 16px;
}


.userc a:hover {
  background-color: #ddd;
  color:grey;
   border: 3px solid orange;
  border-style:none none solid none;
}


.userc a.active {
  border: 3px solid orange;
  border-style:none none solid none;
}





.user-detail{
  line-height:400%;
  font-size: 14px;
  margin-left: 20%;
  margin-right: 20%;
  background-image:url(https://cdn.glitch.com/32905fb5-05fd-4f2e-966f-99a119f5b3c9%2Ftriangle-mosaic.png?v=1575524463352);
  
}
.user-detail h1{
  color:black;
  text-align: center;
  
}

.user-detail h1>span {
	display: block;
	font-size: 13px;
  color:black;
}



.user-rev,.user-transaction{
  background-image:url(https://cdn.glitch.com/32905fb5-05fd-4f2e-966f-99a119f5b3c9%2Ftriangle-mosaic.png?v=1575524463352);
  
}



.review-cards {
        display: grid;
        grid-template-columns: repeat(3, [col] auto ) ;
        grid-template-rows: repeat(3, [row] auto  );
       border-style:solid none solid none;
  border-color:grey;
    }


 .reviewa {
        grid-column: col 1 / span 1;
        grid-row: row 1 /span 3;
    
    }

    .reviewb {
        grid-column: col 2 / span 2;
        grid-row: row 1;
      font-size: 150%;
      color:grey;
    }

    .reviewc {
        grid-column: col 2 / span 2;
        grid-row: row 2/span 2;
    }


}



@media all and (max-width: 1024px) and  (min-width: 550px){
  .user-wrapper {
      
        display: grid;
        grid-template-columns: repeat(5, [col] 20% ) ;
        grid-template-rows: repeat(5, [row] auto  );
    }

.usera {
        grid-column: col 3 / span 1;
        grid-row: 1;
  text-align: center;
  line-height:100%;
    }

    .userb {
        grid-column: col 2 / span 3;
        grid-row: 2;
  text-align: center;
    
    }

    .userc {
        grid-column: col 1 / span 5;
        grid-row: 3;
  text-align: center;
    }


.userd{
        grid-column: col 2 / span 3;
        grid-row: 4;
    }
 .usere {
        grid-column:col 2 / span 3;
        grid-row: 5
    }


.userc {
  background-color: white;
  overflow: hidden;
  border-style:solid none none none;
  border-color:grey;
}



.userc a {
  float: center;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}
.userc a:hover {
  background-color: #ddd;
  color:grey;
   border: 3px solid orange;
  border-style:none none solid none;
}
.userc a.active {
  border: 3px solid orange;
  border-style:none none solid none;
}
.user-detail{
  line-height:400%;
  font-size: 14px;
  background-image:url(https://cdn.glitch.com/32905fb5-05fd-4f2e-966f-99a119f5b3c9%2Ftriangle-mosaic.png?v=1575524463352);
  
}
.user-detail h1{
  color:black;
  text-align: center;
  
}

.user-detail h1>span {
	display: block;
	font-size: 13px;
  color:black;
}
.user-rev,.user-transaction{
  background-image:url(https://cdn.glitch.com/32905fb5-05fd-4f2e-966f-99a119f5b3c9%2Ftriangle-mosaic.png?v=1575524463352);
  
}
.review-cards {
     
        display: grid;
        grid-template-columns: repeat(4, [col] 24% ) ;
        grid-template-rows: repeat(2, [row] auto  );
       border-style:solid none solid none;
  border-color:grey;
   
    }


 .reviewa {
        grid-column: col 1 / span 1;
        grid-row: row 1 /span 1;
       
    }
  .reviewa img{
    height:70px;
  }

    .reviewb {
        grid-column: col 2 / span 3;
        grid-row: row 1;
      font-size: 150%;
      color:grey;
    }

    .reviewc {
        grid-column: col 1 / span 4;
        grid-row: row 2
    }
} 






@media all and (max-width: 550px) {
  .user-wrapper {   
        display: grid;
        grid-template-columns: repeat(5, [col] 19% ) ;
        grid-template-rows: repeat(5, [row] auto  );

    }

.usera {
        grid-column: col 3 / span 1;
        grid-row: 1;
 
  text-align: center;
  line-height:100%;
    }

    .userb {
        grid-column: col 2 / span 3;
        grid-row: 2;
      
  text-align: center;
    
    }

    .userc {
        grid-column: col 1 / span 5;
        grid-row: 3;
  text-align: center;
       background-color: white;
  overflow: hidden;
  border-style:solid none none none;
  border-color:grey;
    }


.userd{
        grid-column: col 1 / span 5;
        grid-row: 4;
  
    }






.userc a {
  float: center;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}
.userc a:hover {
  background-color: #ddd;
  color:grey;
   border: 3px solid orange;
  border-style:none none solid none;
}
.userc a.active {
  border: 3px solid orange;
  border-style:none none solid none;
}
.user-detail{
  line-height:400%;
  font-size: 14px;
  background-image:url(https://cdn.glitch.com/32905fb5-05fd-4f2e-966f-99a119f5b3c9%2Ftriangle-mosaic.png?v=1575524463352);
  
}
.user-detail h1{
  color:black;
  text-align: center;
  
}

.user-detail h1>span {
	display: block;
	font-size: 13px;
  color:black;
}
.user-rev,.user-transaction{
  background-image:url(https://cdn.glitch.com/32905fb5-05fd-4f2e-966f-99a119f5b3c9%2Ftriangle-mosaic.png?v=1575524463352);
  
}
.review-cards {
     
        display: grid;
        grid-template-columns: repeat(4, [col] 24% ) ;
        grid-template-rows: repeat(2, [row] auto  );
       border-style:solid none solid none;
  border-color:grey;
   
    }


 .reviewa {
        grid-column: col 1 / span 1;
        grid-row: row 1 /span 1;
       
    }
  .reviewa img{
    height:70px;
  }

    .reviewb {
        grid-column: col 2 / span 3;
        grid-row: row 1;
      font-size: 150%;
      color:grey;
    }

    .reviewc {
        grid-column: col 1 / span 4;
        grid-row: row 2;
      position:relative;
    }
}





#comments{

box-shadow: 0 2px 0 #e6e6e6;
height: 40px;
width: 100%;
height: 200px;
}

.commentSubmit{
margin-left: 20px;
width: 230px;
height: 52px;
color: white;
font-size: 19px;
background-color: #2c95dc;
box-shadow: 0 3px 0 #09466f;
border-radius: 5px;
}
.commentSubmit:hover {
background-color: #09466f;

}

.buySubmit{
margin-left: 20px;
width: 180px;
height: 40px;
color: white;
font-size: 18px;
background-color: #2c95dc;
box-shadow: 0 5px 0 #09466f;


border-radius: 7px;
}
.commentSubmit:hover {
background-color: #09466f;

}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav_top {
  width: 100%;
}
.nav {
  width: 100%;
  background: #383838;
  border-radius: 6px;
  float: left;
}
.nav li {
  float: left;
}
#account {
  float: right;
  color: #FFF;
  display: block;
  padding: 16px 20px;
  border-right: 2px ridge #585858;
}
.nav li a {
  background: #383838;
  font-size: 1em;
  text-transform: uppercase;
  color: #FFF;
  display: block;
  padding: 16px 20px;
  border-right: 2px ridge #585858;
  transition: all 0.5s;
}
.nav li a:hover,
.nav li.active a {
  background: #B81D22;
}

.nav li:first-child a {
  border-radius: 6px 0 0 6px;
}

.nav-icon {
  height: 10px;
  width: 10px;
}

input[type=text]:focus {
  border: 4px solid #556;
   background-color: #C0C0C0;
}

input[type=text]{
  
  border: 2px solid red;
  border-radius: 4px;
   width: 100%;
  padding: 10px 18px;
  margin: 7px 0;
  box-sizing: border-box;
  font-size:17px;
}

.userlabel{
  font-size:19px
}

@media only screen and (min-width: 800px) {
 #iambr{
    display:none;
  }
}
@media only screen and (max-width: 800px) {
  #iambr{
    display:block;
  }
  .nav li {
    width: 100%;
  }
  .nav li a {
    padding: 10px 10px;
  }
  #account {
    float: left;
  }
  .nav_slides_left {
    float: none;
    width: 100%;
  }
  .nav_slides_right {
    float: none;
    width: 100%;
    padding: 0;
    margin: 5px 0;
  }
  .slide_img {
    width: 100%;
  }
  .slide_text {
    width: 100%;
  }
  .slide h2 {
    font-size: 1.3em;
  }
  .slide h3 {
    font-size: 1.1em;
  }
  .slide h4 {
    font-size: 0.9em;
  }
  .images {
    width: 45%;
  }
  .images h3 {
    font-size: 1em;
  }
  .add_to_cart h4 a {
    font-size: 0.6em;
    padding: 5px 6px;
  }
}
